<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.authenticationsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthenticationSystem">

        <activity android:name=".phoneNumberAuthentication.resetPassword.ResetPassPhone" />
        <activity android:name=".phoneNumberAuthentication.register.RegisterPhone" />
        <activity android:name=".phoneNumberAuthentication.login.LoginPhone" />
        <activity android:name=".DashBoard" />
        <activity android:name=".emailAuthentication.resetPass.ResetPassword" />
        <activity android:name=".emailAuthentication.register.Register" />
        <activity android:name=".emailAuthentication.login.Login" />
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>